<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home 02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
   

    <link href="~/vendor/slick/slick.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">
    
    <!-- header fixed -->
    <div class="wrap_header fixed-header2 trans-0-4">
        
        <!-- Logo -->
        <a href="@Url.Action("index","WatchStore")" class="logo">
            <img src="~/images/icons/logo.png" alt="IMG-LOGO">
        </a>


        <!-- Menu -->
        @Html.Action("ThuongHieu", "WatchStore")
        
        <!-- Header Icon -->
        <div class="header-icons">
            <span class="topbar-email">
                @if (Session["UserName"] != null)
                {
                    <div class="wrap_menu">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    <a href="#">Chào mừng bạn @Session["UserName"]</a>
                                    <ul class="sub_menu">
                                        <li>
                                            <a href="@Url.Action("DangXuat","Nguoidung")"><i class="fa fa-sign-out">Đăng Xuất</i></a>
                                        </li>              
                                    </ul>
                                </li>           
                            </ul>
                        </nav>
                    </div>   
                }
                else
                {
                    @Html.ActionLink("ĐĂNG KÝ", "DangKy", "Nguoidung")
                    @Html.ActionLink("ĐĂNG NHẬP", "DangNhap", "Nguoidung")
                }
                
            </span>
            <a href="#" class="header-wrapicon1 dis-block">
                
            </a>

            <span class="linedivide1"></span>
            @Html.Action("GiohangPartial", "Giohang")
           
        </div>
    </div>

    

    <!-- Header -->
    <header class="header2">
        <!-- Header desktop -->
        <div class="container-menu-header-v2 p-t-26">
            <div class="topbar2">
                <div class="topbar-social">
                    <a href="#" class="topbar-social-item fa fa-facebook"></a>

                    <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                </div>

                <!-- Logo2 -->
                <a href="@Url.Action("index","WatchStore")" class="logo2">
                    <img src="~/images/icons/logo.png" alt="IMG-LOGO">
                </a>

                <div class="topbar-child2">
                    <span class="topbar-email">
                        @if (Session["UserName"] != null)
                        {
                            <div class="wrap_menu">
                                <nav class="menu">
                                    <ul class="main_menu">
                                        <li>
                                            <a href="#">Chào mừng bạn @Session["UserName"]</a>
                                            <ul class="sub_menu">
                                                <li>
                                                    <a href="@Url.Action("DangXuat","Nguoidung")"><i class="fa fa-sign-out">Đăng Xuất</i></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        }
                        else
                        {
                            @Html.ActionLink("ĐĂNG KÝ", "DangKy", "Nguoidung")
                            @Html.ActionLink("ĐĂNG NHẬP", "DangNhap", "Nguoidung")
                        }
                    </span>

                    

                    <!--  -->
                    <a href="#" class="header-wrapicon1 dis-block m-l-30">
                        <img src="~/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                    </a>

                    <span class="linedivide1"></span>

                    @Html.Action("GiohangPartial", "Giohang")
                </div>
            </div>

            <div class="wrap_header">

                <!-- Menu -->
                
                @Html.Action("ThuongHieu","WatchStore")
                <!-- Header Icon -->
                <div class="header-icons">

                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap_header_mobile">
            
            <!-- Logo moblie -->
            <a href="@Url.Action("index","WatchStore")" class="logo-mobile">
                <img src="~/images/icons/logo.png" alt="IMG-LOGO">
            </a>

            <!-- Button show menu -->
            <div class="btn-show-menu">
                <!-- Header Icon mobile -->
                <div class="header-icons-mobile">
               
                    <a href="#" class="header-wrapicon1 dis-block">
                        <img src="~/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                    </a>

                    <span class="linedivide2"></span>

                  @Html.Action("GiohangPartial", "Giohang")
                </div>

                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="wrap-side-menu">
            <nav class="side-menu">
                <ul class="main-menu">
                    

                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <div class="topbar-child2-mobile">
                            <span class="topbar-email">
                                @if (Session["UserName"] != null)
                                {
                                    <div class="wrap_menu">
                                        <nav class="menu">
                                            <ul class="main_menu">
                                                <li>
                                                    <a href="#">Chào mừng bạn @Session["UserName"]</a>
                                                    <ul class="sub_menu">
                                                        <li>
                                                            <a href="@Url.Action("DangXuat","Nguoidung")"><i class="fa fa-sign-out">Đăng Xuất</i></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                }
                                else
                                {
                                    @Html.ActionLink("ĐĂNG KÝ", "DangKy", "Nguoidung")
                                    @Html.ActionLink("ĐĂNG NHẬP", "DangNhap", "Nguoidung")
                                }
                            </span>        
                        </div>
                    </li>

                    <li class="item-topbar-mobile p-l-10">
                        <div class="topbar-social-mobile">
                            <a href="#" class="topbar-social-item fa fa-facebook"></a>
                            <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                        </div>
                    </li>
                    @Html.Action("ThuongHieu", "WatchStore")
                </ul>
            </nav>
        </div>
    </header>

    
    

    <!-- Our product -->
    @RenderBody()


    <!-- Shipping -->
    <section class="shipping bgwhite p-t-62 p-b-46">
        <div class="flex-w p-l-15 p-r-15">
            <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
                <h4 class="m-text12 t-center">
                    Free Delivery Worldwide
                </h4>

                <a href="#" class="s-text11 t-center">
                    Click here for more info
                </a>
            </div>

            <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
                <h4 class="m-text12 t-center">
                    30 Days Return
                </h4>

                <span class="s-text11 t-center">
                    Simply return it within 30 days for an exchange.
                </span>
            </div>

            <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
                <h4 class="m-text12 t-center">
                    Store Opening
                </h4>

                <span class="s-text11 t-center">
                    Shop open from Monday to Sunday
                </span>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                    <p class="s-text7 w-size27">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                    </p>

                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                     
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Categories
                </h4>

                @Html.Action("Th","WatchStore")
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                            @Html.ActionLink("Tìm kiếm", "TimKiem", "TimKiem")
                    </li>

                    <li class="p-b-9">
                            @Html.ActionLink("About", "About", "WatchStore")
                    </li>

                    <li class="p-b-9">                  
                            @Html.ActionLink("Liên lạc", "Contact", "WatchStore")
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                        <span class="effect1-line"></span>
                    </div>

                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Subscribe
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img class="h-size2" src="~/images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>

            <a href="#">
                <img class="h-size2" src="~/images/icons/visa.png" alt="IMG-VISA">
            </a>

            <a href="#">
                <img class="h-size2" src="~/images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>

            <a href="#">
                <img class="h-size2" src="~/images/icons/express.png" alt="IMG-EXPRESS">
            </a>

            <a href="#">
                <img class="h-size2" src="~/images/icons/discover.png" alt="IMG-DISCOVER">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </div>
        </div>
    </footer>



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="w-full wrap-pic-w op-0-0"><img src="~/images/icons/video-16-9.jpg" alt="IMG"></div>
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/Nt8ZrWY2Cmk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/popper.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/vendor/slick/slick.min.js"></script>

    <script src="~/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/vendor/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
                swal(nameProduct, "is added to cart !", "success");
          
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
    </script>

    <!--===============================================================================================-->
    <script type="text/javascript" src="~/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/main.js"></script>
</body>
</html>
